* {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    display: flex;
}

ul {
    list-style-type: none;
    padding: 0;
}

#navbar {
    flex-flow: column nowrap;
    flex-basis: 338.25px;
    height: 100%;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

#navbar_header {
    text-align: center;
    font-size: 1.9rem;
    padding: 7px;
    border-bottom: 1px solid black;
}

.nav-link {
    border-top: 1px solid black;
    border-bottom: 1px thin black;
    color: black;
    font-size: 1.4rem;
    padding-top: 10px;
    padding-bottom: 11px;
}

#main-doc {
    flex-flow: column nowrap;
    flex: 1;
    padding-top: 50px;
    padding-left: 50px;
    color: white;
    background-color: seagreen;
}

#main-doc header {
    font-size: 3rem;
}

section article {
    margin: 15px;
}