* {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

main,
section,
aside,
footer {
    margin: 0;
    padding: 10px;
    /* border: 1px solid #000000; */
    color: #ffffff;
}

main {
    background: #ffffff;
}

ul {
    text-align: center;
}

ul li a {
    font-size: 1.3rem !important;
}

.header {
    flex-flow: row nowrap;
    justify-content: flex-end;
    padding-bottom: 10px;
}

.img-responsive {
    max-width: 100%;
    max-height: 8vh;
}

.collapse-btn {
    margin-left: auto;
}

.hero-image {
    display: flex;
    background: linear-gradient(rgba(20, 20, 20, .3),
            rgba(20, 20, 20, .3)),
        url("https://images.unsplash.com/photo-1578070435774-95972f3321c8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100wh;
}

.hero-text {
    margin: auto;
    justify-content: center;
    flex-basis: 40%;
    color: #ffffff;
}

.hero-text button {
    padding: 10px 20px 10px 20px;
    margin: auto;
}

.hero-text h1 {
    font-size: 6rem;
}

.hero-text p {
    font-size: 2rem;
}

.email-signup {
    display: flex;
    flex-flow: row nowrap;
    color: black;
    background: lightgray;
    height: 15vh;
}

.email {
    margin: auto;
}

#emailCap {
    width: 70%;
}

.content {
    background: linear-gradient(rgba(20, 20, 20, .3),
            rgba(20, 20, 20, .3)),
            lightblue;
    width: auto;
    height: 50vh;
}

.sidebar {
    /* border: 1px solid #000000; */
    background: #673ab7;
}

.footer {
    /* border: 1px solid #000000; */
    background: #616161;
}

.wrapper {
    margin: auto;

}



/* Below is the original css code */
/* #header-img {
    max-height: 100%;
    width: 17rem;
}

.navbar-brand {
    margin: 0;
    padding: 0;
}

.nav a {
    font-size: 1.2rem;
} */

@media screen and (min-width: 640px) {
    .flex-container {
        display: flex;
    }
}